<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo Application</title>
</head>
<body>

    <h3> Welcome to My ToDo application </h3>
    <hr/>
    <table >
        <tr>
            <th></th>
            <th>List of Tasks</th>
        </tr>
        {% for task_undone in tasks_undone %}
        <tr>
            <td>
                <form action="update_task/{{task_undone.id}}" method="POST">
                <input onchange="this.form.submit()" type="checkbox" name="{{task_undone.id}}" value="checked">
              </form>
            </td>
            <td><a href="display_task/{{task_undone.id}}">{{task_undone.title}}</a></td>
        </tr>
        {% endfor %}

        {% for task_done in tasks_done %}
        <tr>
            <td>
               <form action="update_task/{{task_done.id}}" method="POST">
                <input onchange="this.form.submit()" type="checkbox" name="{{task_done.id}}" value="unchecked" checked>
             </form>
            </td>
            <td><strike><a href="display_task/{{task_done.id}}">{{task_done.title}}</a></strike></td>
        </tr>
        {% endfor %}
    </table>

    </br>
    <form action="{{url_for('add_task') }}" method="POST">
     <table>
         <th>Add a new task </th>
         <tr>
             <td><label for="title">Title :</label></td>
           <td> <input id="title" type="text" name="title"  required="required"> </td>
        </tr>
        <tr>
            <td><label for="description">Description </label>:</td>
            <td> <textarea id="description" name="description"  rows="3" cols="33"> </textarea></td>
        </tr>
    </table>
        <input type="submit" value="Add Task">
    </form>


</body>
</html>