<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo Application</title>
</head>
<body>

    <h3> Welcome to My ToDo application </h3>
    <hr/>
    <table >
        <tr>
            <th>List of Tasks</th>
            <th>Done</th>
        </tr>
        {% for task_undone in tasks_undone %}
        <tr>
            <td><a href="display_task/{{task_undone.id}}">{{task_undone.title}}</a></td>
            <td>
                <form action="update_task/{{task_undone.id}}" method="POST">
                <input onchange="this.form.submit()" type="checkbox" name="{{task_undone.id}}" value="checked">
              </form>
            </td>
        </tr>
        {% endfor %}

        {% for task_done in tasks_done %}
        <tr>
            <td><strike><a href="display_task/{{task_done.id}}">{{task_done.title}}</a></strike></td>
            <td>
               <form action="update_task/{{task_done.id}}" method="POST">
                <input onchange="this.form.submit()" type="checkbox" name="{{task_done.id}}" value="unchecked" checked>
             </form>
            </td>
        </tr>
        {% endfor %}
    </table>


</body>
</html>